.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.block{
  margin-top: -5rem;
  width: 10%;
  text-align: center;
}

.loader{
  width: 100%;
  margin-top: 1.5rem;
  height: 5px;
}
