.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.lockBg{
    z-index: -1;
}

.lockText{
    z-index: 1;
}

.message{
    margin-top: 1rem;
}

.auth{
    text-align: center;

}

.authCredentials{
    display: flex;
    margin-top: 1rem;
}

.authNameWrap{
    display: flex;
    flex: 0.6;
}

.authHelp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}


.authName > input{
    background-color: white;
    border: none;
    opacity: 0.25;
    border-radius: 30px;
    font-size: 1rem;
    padding: 8px 20px;
    color: black;
    font-weight: 600;
    outline: none;
    width: 200px;
}

