.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.lockBg{
    z-index: -1;
}

.lockText{
    z-index: 1;
}

.dateComp{
    margin-top: 3rem;
}

.currTime{
    font-size: 7rem;
    opacity: 0.8;
}


.message{
    margin-top: 0.6rem;
    font-weight: 500;
}

.auth{
    font-size: 0.9rem;
    margin-top: auto;
    margin-bottom: 50px;
}

.authCredentials{
    display: flex;
    margin-top: 0.6rem;
}

.authNameWrap{
    display: flex;
}

.authName > input{
    background-color: white;
    border: none;
    opacity: 0.45;
    border-radius: 30px;
    font-size: 1rem;
    padding: 6px 18px;
    color: black;
    font-weight: 600;
    outline: none;
    width: 180px;
}

